<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfileTrace" xsi:type="File" fileName="/var/log/nps/trace.log" maxArchiveFiles="5" archiveNumbering="Rolling" archiveAboveSize="10485760" layout="${date} [${threadid}] ${level} ${logger} - ${message}${onexception:${newline}${exception}${newline}${stacktrace}}"/>
    <target name="logfileDebug" xsi:type="File" fileName="/var/log/nps/debug.log" maxArchiveFiles="5" archiveNumbering="Rolling" archiveAboveSize="10485760" layout="${date} [${threadid}] ${level} ${logger} - ${message}${onexception:${newline}${exception}${newline}${stacktrace}}"/>
    <target name="logfileInfo" xsi:type="File" fileName="/var/log/nps/info.log" maxArchiveFiles="5" archiveNumbering="Rolling" archiveAboveSize="10485760" layout="${date} [${threadid}] ${level} ${logger} - ${message}${onexception:${newline}${exception}${newline}${stacktrace}}"/>
    <target name="logfileError" xsi:type="File" fileName="/var/log/nps/error.log" maxArchiveFiles="5" archiveNumbering="Rolling" archiveAboveSize="10485760" layout="${date} [${threadid}] ${level} ${logger} - ${message}${onexception:${newline}${exception}${newline}${stacktrace}}"/>
    <target name="logfileWarning" xsi:type="File" fileName="/var/log/nps/warning.log" maxArchiveFiles="5" archiveNumbering="Rolling" archiveAboveSize="10485760" layout="${date} [${threadid}] ${level} ${logger} - ${message}${onexception:${newline}${exception}${newline}${stacktrace}}"/>
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${date} [${threadid}] ${level} ${logger} - ${message}${onexception:${newline}${exception}${newline}${stacktrace}}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" maxLevel="Warn" writeTo="blackhole" final="true" />

    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="LogServer" />

    <logger name="*" minlevel="Trace" writeTo="logfileTrace" />
    <logger name="*" minlevel="Debug" writeTo="logfileDebug" />
    <logger name="*" minlevel="Info" writeTo="logfileInfo" />
    <logger name="*" minlevel="Warn" writeTo="logfileWarning" />
    <logger name="*" minlevel="Error" writeTo="logfileError" />
  </rules>
</nlog>